body {
    display: table;
}

.common {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.header {
    background-color: red;
    padding: 1%;
}

.left {
    background-color: green;
}

.center {
    background-color: lightskyblue;
}

.right {
    background-color: pink;
}

.footer {
    background-color: blueviolet;
    padding: 1%;
}

@media (min-width: 992px) {
    .common {
        font-size: larger;
    }
    .main {  
        width: 661px;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main {
        width: 450px;
        height: 550px;
        display: flex;
        flex-flow: row wrap-reverse;
    }
}

@media (max-width: 768px) {
    .common {
        font-size: smaller;
    }
    .center {
        order: -1
    }
    .main {
        width: 350px;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .left, .center, .right {
        flex: 1;
    }
}