body {
    display: table;
}

.common {
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.header {
    background-color: red;
    padding: 1%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 400px;
}

.left {
    background-color: green;
}

.center {
    background-color: lightskyblue;
}

.right {
    background-color: pink;
}

.footer {
    background-color: blueviolet;
    padding: 1%;
}

@media (max-width: 1200px) {
    .common {
        font-size: larger;
    }
    .main {
        margin-top: 0px;
    }
    .center {
        flex: 2;
    }
    .left, .right {
        flex: 1;
    }
}

@media (max-width: 992px) {
    .left {
        flex-basis: 100%;
    }
    .center {
        flex-basis: 75%;
    }
    .right {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    .common {
        font-size: smaller;
    }
    .center {
        order: -1
    }
    .main {
        flex-direction: column;
    }
}